extends layout

block content
    h1= title
    #notes
        - each note in notes
          div.note
            div.created_at= note.created_at
            div.title= note.title 
              div.button
                form( method="post", action="/note/:id/delete") 
                    input(name="_id", type="hidden", value=note._id.toHexString()) 
                    input(id="delete", value="X", type="submit")
                form( method="get", action="/note/:id/edit") 
                    input(name="_id", type="hidden", value=note._id.toHexString()) 
                    input(id="edit", value="Edit", type="submit")
            div.name= note.name
        a(href="/note/new")!= "Add New Note"